# tgbot
TG_TOKEN=""
ADMINS=12345678
RATE_LIMIT=5

# ds
DS_TOKEN=""
DS_SERVER_ID=812690308189257749

# db
# DB_NAME = "postgres"
# DB_HOST = "localhost"
# DB_PORT = 5432
# DB_USER = "postgres"
# DB_PASS = ""

